<!-- See: http://logback.qos.ch/manual/configuration.html -->
<configuration debug="true" scan="false" packagingData="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logging.file:-log/matchandtrade.log}</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%file:%line]- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="PLAINOUTPUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger level="INFO" name="plainTextLogger" additivity="false">
		<appender-ref ref="PLAINOUTPUT" />
	</logger>
	
	<logger level="inherited" name="com.matchandtrade" />

	<root level="${logging.level.root:-info}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<!-- DEBUG: Log all SQL DML statements as they are executed -->
	<logger level="INFO" name="org.hibernate.SQL"/>
	<!-- TRACE: Log all JDBC parameters -->
	<logger level="INFO" name="org.hibernate.type"/>
	<!-- TRACE: Log transaction related activity -->
	<logger level="INFO" name="org.hibernate.transaction"/>
	<!-- TRACE: Log all second-level cache activity -->
	<logger level="INFO" name="org.hibernate.cache"/>
	
</configuration>