<!-- See: http://logback.qos.ch/manual/configuration.html -->
<configuration debug="true" scan="false" packagingData="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logging.file:-matchandtrade.log}</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%file:%line]- %msg%n</pattern>
		</encoder>
	</appender>

	<logger level="inherited" name="com.matchandtrade" />

	<root level="${logging.level.root:-info}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>